@use "../global/variables.scss";
@use "../global/mixins.scss";

.user-info__list {
  list-style-type: none;
  padding: 0;
  padding-top: 30px;
  margin: 0;
  display: grid;
  gap: 25px;
}

.user-info__label {
  position: relative;
}

.user-info__icon {
  position: absolute;
}

.user-info__input[name="tel"] + .user-info__icon {
  top: 0;
  right: 7px;
}

.user-info__input[name="email"] + .user-info__icon {
  top: 0;
  right: 3px;
}

.user-info__input {
  @include mixins.input-hover-down;
  padding: 17px 0;
  width: 260px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
}

.user-info__textarea {
  width: 260px;
  height: 142px;
  padding: 17px;
  margin-top: 25px;
  box-sizing: border-box;
  border: 2px solid #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  &:hover,
  &:focus {
    outline: none;
    border: 2px solid #62d1ba;
  }
}

.user-info__input:hover + .user-info__icon,
.user-info__input:focus + .user-info__icon {
  fill: #62d1ba;
  opacity: 1;

}

@media (min-width: variables.$tablet-width) {
  .user-info__list {
    padding-top: 0;
  }

  .user-info__input {
    width: 501px;
    padding: 12px 21px;
    font-size: 19px;
  }

  .user-info__input[name="tel"] + .user-info__icon {
    right: 26px;
  }

  .user-info__input[name="email"] + .user-info__icon {
    right: 22px;
  }

  .user-info__textarea {
    width: 501px;
    margin: 0;
    font-size: 19px;
  }
}

@media (min-width: variables.$desktop-width) {
  .user-info__input {
    width: 700px;
  }

  .user-info__input[name="tel"] + .user-info__icon {
    right: 8px;
  }

  .user-info__input[name="email"] + .user-info__icon {
    right: 4px;
  }

  .user-info__textarea {
    width: 700px;
  }
}
